<h1>Submit Review</h1>
<form action="/review" method="post">
<table>
 <input type="hidden" name="customer_id" value="<%= cust_id %>">
 <input type="hidden" name="product_id" value="<%= prod_id %>">
 
    <tr> <td> Comments: </td> <td> <textarea name="comments" rows="10" cols="30" placeholder="Submit Review Here" required></textarea> </td> </tr>
    
    <tr> <td> Rating: </td> <td> 
            <input type="radio" name="rating" value="1">★ <br/>
            <input type="radio" name="rating" value="2">★★ <br/>
            <input type="radio" name="rating" value="3">★★★ <br/>
            <input type="radio" name="rating" value="4">★★★★ <br/>
            <input type="radio" name="rating" value="5" checked="true">★★★★★ <br/>
        </td> </tr>
   
</table>
<button type="submit">Save</button>
