<html>
 <head>
 <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
 <h1>Contact Cottage Garden Cafe</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
 </body>
 </html>
