<h1>Help</h1>
<p><b>FAQ: </b><br>
    <li><b>How many locations do you have?</b> - We have 2 locations: Naperville, IL and Michigan Ave, Chicago, IL.</li><br>
    <li><b>What are your opening/closing hours?</b> - Both locations are open from 10AM to 5PM.</li><br>
    <li><b>Where do you source your matcha powder from?</b> - We use Ippodo matcha powder and it is sourced from Uji, Kyoto in Japan!</li> 
</p>
