<!DOCTYPE html>
<html>
  <head>
    <title>Cottage Garden Cafe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Cottage Garden Cafe</h1>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>

  </body>
</html>
