<h1>Privacy</h1>
<p>You can count on us to respect your privacy. We have a zero-tolerance policy for sharing data with other parties. <br>
   Purchase your favorite goods at Cottage Garden Cafe with ease!
</p>
