<h1>Password Change</h1>
<form action="/customer/pwdchg" method="post">
    <p>Enter New Password: 
        <input type="password" name="password">
    </p>

    <input type="submit" value="Change">
</form>